@{
    ViewBag.Title = "Index";
    Layout = null;
}
<head>
    <script src="~/Scripts/MiniUI/scripts/boot.js" type="text/javascript"></script>
    <script src="~/Scripts/MiniUI/core.js" type="text/javascript"></script>
    <script type="text/javascript">
        var tree;
        var grid;
        $(document).ready(function () {
            mini.parse();
            tree = mini.get("tree1");
            grid = mini.get("grid1");
            grid2 = mini.get("grid2");

            tree.on("nodeselect", function (e) {
                if (e.isLeaf) {
                    grid.load({ floorid: e.node.FloorId });
                } else {
                    grid.load({ floorid: e.node.FloorId });
                }
            });
        });


        function AddRow() {
            var tree = mini.get("tree1");
            var node = tree.getSelectedNode();
            var parentid = "";
            if (node) {
                parentid = node.FloorId;
            }
            if (node) {
            } else {
                var orgTypeCombo = mini.getbyName("AddRoot");
            }

            if (parentid == "") {
                mini.showTips({ content: "请选择楼层！", state: "warning", x: "center", y: "top", timeout: 3000 });
                return;
            }

            var url = '@Url.Action("RoomAdd")';
            mini.open({
                url: url,
                title: "新增房间", width: 280, height: 240,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "new", floorid: parentid };
                    iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {
                    if (action != "cancel") {
                        grid.load({ floorid: parentid });
                    }
                }
            });
        }


        function AddBedRow() {
            var roomrows = grid.getSelecteds();
            var rows = grid.getSelecteds();;
            if (rows.length <= 0) {
                mini.showTips({ content: "请选择房间！", state: "warning", x: "center", y: "top", timeout: 3000 });
                return;
            }
            var url = '@Url.Action("BedAdd")';
            mini.open({
                url: url,
                title: "新增床位", width: 280, height: 180,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "new", roomid: rows[0].RoomId };
                    iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {
                    if (action == "save") {
                        mini.showTips({ content: "保存成功！", state: "success", x: "center", y: "top", timeout: 3000 });
                        grid2.load({ roomid: roomrows[0].RoomId });
                    }
                }
            });
        }


        function EditBedRow() {
            var roomrows = grid.getSelecteds();
            var rows = grid2.getSelecteds();
            if (rows.length <= 0) {
                mini.showTips({
                    content: "请选择要编辑的床位！",
                    state: "warning",
                    x: "center",
                    y: "top",
                    timeout: 3000
                });
                return;
            }
            if (rows.length > 1) {
                mini.showTips({ content: "只能选择一个房间！", state: "warning", x: "center", y: "top", timeout: 3000 });
                return;
            }
            var url = '@Url.Action("BedAdd")?bedid=' + rows[0].BedId;
            if (rows.length == 1) {
                mini.open({
                    url: url,
                    title: "编辑床位", width: 280, height: 200,
                    onload: function () {
                    },
                    ondestroy: function (action) {
                        if (action == "save") {
                            mini.showTips({ content: "修改成功！", state: "success", x: "center", y: "top", timeout: 3000 });
                            grid2.load({ roomid: roomrows[0].RoomId });
                        }
                    }
                });

            }

        }

        function Edit() {
            var node = tree.getSelectedNode();
            var parentid = "";
            if (node) {
                parentid = node.FloorId;
            }
            var rows = grid.getSelecteds();
            if (rows.length <= 0) {
                mini.showTips({
                    content: "请选择要编辑的房间！",
                    state: "warning",
                    x: "center",
                    y: "top",
                    timeout: 3000
                });
                return;
            }
            if (rows.length > 1) {
                mini.showTips({ content: "只能选择一个房间！", state: "warning", x: "center", y: "top", timeout: 3000 });
                return;
            }
            var url = '@Url.Action("RoomEdit")?RoomId=' + rows[0].RoomId;
            if (rows.length == 1) {
                mini.open({
                    url: url,
                    title: "编辑房间", width: 280, height: 240,
                    onload: function () {
                    },
                    ondestroy: function (action) {
                        if (action != "cancel") {
                            grid.load({ floorid: parentid });
                        }
                    }
                });

            }

        }


        function BindRole() {
            var node = tree.getSelectedNode();
            var parentid = "";
            if (node) {
                parentid = node.FloorId;
            }

            var rows = grid.getSelecteds();
            if (rows.length != 1) {
                mini.showTips({
                    content: "请选择一个用户！",
                    state: "warning",
                    x: "center",
                    y: "top",
                    timeout: 3000
                });
                return;
            }
        }

        function Remove() {
            var node = tree.getSelectedNode();
            var parentid = "";
            if (node) {
                parentid = node.FloorId;
            }

            var rows = grid.getSelecteds();
            if (rows.length <= 0) {
                mini.showTips({ content: "请选择需要删除的房间！", state: "warning", x: "center", y: "top", timeout: 3000 });
                return;
            }
            var ids = [];
            for (var i = 0, l = rows.length; i < l; i++) {
                var r = rows[i];
                ids.push(r.BedId);
            }
            var id = ids.join(',');
            mini.confirm("确定删除此房间信息吗？", "确定信息",
                function (action) {
                    if (action == "ok") {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Delete")',
                            data: { "Beds": id },
                            cache: false,
                            success: function (result) {
                                if (result == "ok") {
                                    mini.showTips({ content: "操作成功！", state: "success", x: "center", y: "top", timeout: 3000 });
                                    grid.load({ upperid: parentid });
                                }
                                else {
                                    mini.showTips({ content: "操作失败！", state: "danger", x: "center", y: "top", timeout: 3000 });
                                }
                            }
                        });
                    }
                }
            );
        }

        function RemoveBed() {
            var roomrows = grid.getSelected();

            var rows = grid2.getSelecteds();
            if (rows.length <= 0) {
                mini.showTips({ content: "请选择床位！", state: "warning", x: "center", y: "top", timeout: 3000 });
                return;
            }
            var ids = [];
            for (var i = 0, l = rows.length; i < l; i++) {
                var r = rows[i];
                ids.push(r.BedId);
            }
            var id = ids.join(',');
            mini.confirm("确定停用此床位吗？", "确定信息",
                function (action) {
                    if (action == "ok") {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("DeleteBed")',
                            data: { "Beds": id },
                            cache: false,
                            success: function (result) {
                                if (result == "ok") {
                                    mini.showTips({ content: "操作成功！", state: "success", x: "center", y: "top", timeout: 3000 });
                                    grid2.load({ roomid: roomrows.RoomId });
                                }
                                else {
                                    mini.showTips({ content: "操作失败！", state: "danger", x: "center", y: "top", timeout: 3000 });
                                }
                            }
                        });
                    }
                }
        );
        }

        function RoomChangeClick(e) {
            var grid = e.sender;
            var rows = grid.getSelected();
            if (rows) {
                grid2.load({ roomid: rows.RoomId });
            }
        }


        function OnBuildChanged(e) {
            var buildCom = mini.get("combuild");
            var tree1 = mini.get("tree1");
            var id = buildCom.getValue();
            //var combox = buildComb.getValue();
            var url = '@Url.Action("GetBuildList", "BuildFloor")?build=' + id;
            tree1.setUrl(url);
            //tree1.load();
        }


        function search() {
            var key = mini.get("key").getValue();
            grid.load({ key: key });
        }

        var jsonStatus = [{ id: 0, text: '空闲' }, { id: 1, text: '使用' }, { id: 2, text: '停用' }];
        function SetStatus(e) {
            for (var i = 0, l = jsonStatus.length; i < l; i++) {
                var g = jsonStatus[i];
                if (g.id == e.value) {
                    return g.text;
                }
            }
            return "";
        }

        var jsonAddStatus = [{ id: true, text: '加床' }, { id: false, text: '非加床' }];
        function SetIsAddStatus(e) {
            for (var i = 0, l = jsonAddStatus.length; i < l; i++) {
                var g = jsonAddStatus[i];
                if (g.id == e.value) {
                    return g.text;
                }
            }
            return "";
        }


        function onKeyEnter(e) {
            search();
        }
        /////////////////////////////////////////////////
        function onBirthdayRenderer(e) {
            var value = e.value;
            if (value) return mini.formatDate(value, 'yyyy-MM-dd');
            return "";
        }

    </script>
</head>
<body style="overflow-y:auto">
    <div>
        <ul class="mnbreadcrumb">
            <li>
                <a href="#">基本信息</a> <span class="divider"></span>
            </li>
            <li>
                <a href="#">房间管理</a>
            </li>
        </ul>
    </div>
    <div class="mini-splitter" style="width: 100%; height:90%;">
        <div size="140" showcollapsebutton="true">
            <div class="mini-panel-header">
                选择楼宇
            </div>
            <div>
                <input id="combuild" name="combuild" class="mini-combobox" valuefield="BuildId" textfield="BuildName"
                       style="width: 140px;" url='@Url.Action("GetBuildAll", "BuildFloor")'
                       required="true" emptytext="请选择" onvaluechanged="OnBuildChanged" />
            </div>
            <div class="mini-panel-header">
                选择楼层
            </div>
            <div class="mini-fit">
                <ul id="tree1" class="mini-tree" url="@Url.Action("GetBuildFloor", "BuildFloor")" style="width:80px;"
                    showtreeicon="true" textfield="FloorName" idfield="FloorId" parentfield="pid" resultastree="false" ></ul>
            </div>
        </div>
        <div showcollapsebutton="true">
            <div class="mini-panel-header">
                房间信息
            </div>
            <div style="width: 100%; height: 30px">
                <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
                    <table style="width: 100%; color: #888">
                        <tr>
                            <td style="width: 100%; font-size: 12px;">
                                <a class="mini-button" iconcls="icon-add" onclick="AddRow()">增加</a> <a class="mini-button"
                                                                                                       iconcls="icon-edit" onclick="Edit()">编辑</a> <a class="mini-button"
                                                                                                                                                      iconcls="icon-del" onclick="Remove()" enabled="false">删除</a>
                            </td>
                            <td style="white-space: nowrap;">
                                <input id="key" placeholder="请输入房间号" style="width: 150px;" onenter="onKeyEnter" />
                                <a class="mini-button" onclick="search()">查询</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="grid1" class="mini-datagrid" style="width: 100%; height: 40%;" allowresize="true"
                 url="@Url.Action("GetRoomList")" onselectionchanged="RoomChangeClick" idfield="RoomId" pagesize="15">
                <div property="columns">
                    <div type="checkcolumn">
                    </div>
                    <div field="RoomName" width="80" headeralign="center" align="center">
                        房间号码
                    </div>
                    <div field="RoomNum" width="70" headeralign="center" align="center">
                        房间类型
                    </div>
                    <div field="RoomDirection" width="70" headeralign="center" align="center">
                        房间朝向
                    </div>
                    <div field="Memo" width="60" headeralign="center" align="center">
                        备注
                    </div>
                    <div field="CreateDate" width="100" headeralign="center" dateformat="yyyy-MM-dd">
                        创建日期
                    </div>
                    <div field="CreateUser" width="80" headeralign="center" align="center">
                        创建人
                    </div>
                </div>
            </div>
            <div class="">
                <div class="mini-panel-header">
                    床位信息
                </div>
            </div>
            <div style="width: 100%; height: 30px">
                <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 100%;">
                                <a class="mini-button" iconcls="icon-add" onclick="AddBedRow()">增加</a>
                                <a class="mini-button"
                                   iconcls="icon-edit" onclick="EditBedRow()">编辑</a> <a class="mini-button" iconcls="icon-del"
                                                                                        onclick="RemoveBed()">停用</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="grid2" class="mini-datagrid" style="width: 100%; height: 60%;" allowresize="true"
                 url="@Url.Action("GetBedList")" idfield="BedId" pagesize="15">
                <div property="columns">
                    <div type="checkcolumn">
                    </div>
                    <div field="BedName" width="70" headeralign="center" align="center">
                        床位名称
                    </div>
                    <div field="Status" width="60" headeralign="center" align="center" renderer="SetStatus">
                        状态
                    </div>
                    <div field="IsAdd" width="60" headeralign="center" align="center" renderer="SetIsAddStatus">
                        是否加床
                    </div>
                    <div field="CreateDate" width="100" headeralign="center" align="center" dateformat="yyyy-MM-dd">
                        创建日期
                    </div>
                    <div field="CreateUser" width="80" headeralign="center" align="center">
                        创建人
                    </div>
                    <div field="PatiName" width="70" headeralign="center" align="center">
                        入住老人
                    </div>
                    <div field="SerialNum" width="60" headeralign="center" align="center">
                        入住编号
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>