@{
    ViewBag.Title = "Index";
    Layout = null;
}
<style type="text/css">
    html, body {
        padding: 0;
        margin: 0;
        border: 0;
        height: 100%;
        overflow: hidden;
    }

    table td {
        font-size: 12px;
    }
</style>
<head>
    <script src="../../Scripts/MiniUI/scripts/boot.js" type="text/javascript"></script>
    <script src="../../Scripts/MiniUI/core.js" type="text/javascript"></script>
    <script type="text/javascript">
        var tree;
        var grid;
        $(document).ready(function () {
            mini.parse();
            tree = mini.get("tree1");
            grid = mini.get("grid1");


            tree.on("nodeselect", function (e) {
                grid.loading("操作中，请稍后......");

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetOldPersonBySerialNum","PatiInBill")',
                    data: { "SerialNum": e.node.id },
                    cache: false,
                    success: function (result) {

                        if (result != false) {
                            $("#patiName").html(result.PatiName);
                            $("#patiSex").html(result.SexName);
                            $("#patiAge").html(result.Age);
                            $("#serialNum").html(result.SerialNum);
                            $("#bedName").html(result.BedName);
                            $("#floorName").html(result.FloorName);
                            $("#preAmount").html(result.PreAmount);
                            $("#feeAmount").html(result.FeeAmount);

                            var birthdayMilliseconds = parseInt(result.AdmitDate.replace(/\D/igm, ""));
                            //实例化一个新的日期格式，使用1970 年 1 月 1 日至今的毫秒数为参数
                            var date = new Date(birthdayMilliseconds);
                            var dateStr = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
                            $("#admitDate").html(dateStr);
                            grid.load({ SerialNum: e.node.id });
                        }
                        else {
                            mini.showTips({ content: "操作失败！", state: "danger", x: "center", y: "top", timeout: 3000 });
                        }
                    }
                });

            });

        });


        function CancelRow()
        {
            grid = mini.get("grid1");


        }
    </script>
</head>
<div class="mini-splitter" style="width: 100%; height: 100%;">
    <div size="180" showcollapsebutton="true">
        <div class="mini-fit">
            <ul id="tree1" class="mini-tree" url='@Url.Action("PatiVisitTreeList", "PatiInBill")' style="width: 100%;"
                showtreeicon="true" textfield="name" idfield="id" parentfield="pid" resultastree="false"></ul>
        </div>
    </div>
    <div showcollapsebutton="true">
        <div style="padding-left: 15px; padding-top: 8px;">
            <table style="table-layout: fixed; width:100%;">
                <tr>
                    <td>入院号：<span id="serialNum">@ViewBag.PatiInfo.SerialNum</span></td>
                    <td>性别：<span id="patiSex">@ViewBag.PatiInfo.SexName</span></td>
                    <td>年龄：<span id="patiAge">@ViewBag.PatiInfo.Age</span>岁</td>
                </tr>
                <tr>
                    <td>入院日期：<span id="admitDate">@ViewBag.PatiInfo.AdmitDate.ToString("yyyy-MM-dd")</span></td>
                    <td>床位：<span id="bedName">@ViewBag.PatiInfo.BedName</span></td>
                    <td>楼层：<span id="floorName">@ViewBag.PatiInfo.FloorName</span></td>
                </tr>
                <tr>
                    <td>预交金额：<span id="preAmount">@ViewBag.PatiInfo.PreAmount</span></td>
                    <td>消费金额：<span id="feeAmount">@ViewBag.PatiInfo.FeeAmount</span></td>
                    <td>当前余额：<span id="LeaveAmount">@ViewBag.PatiInfo.LeaveAmount</span></td>
                </tr>
            </table>
        </div>
        <br />
        <div style="width: 100%; height: 30px">
            <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 100%;">
                            <a class="mini-button" iconcls="icon-add" id="btnAdd" onclick="AddRow()">执行并计费</a>
         
                        </td>
                        <td style="white-space: nowrap;">
                            <input id="key" placeholder="请输入护嘱名称" style="width: 150px;" onenter="onKeyEnter" />
                            <a class="mini-button" onclick="search()">查询</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="grid1" class="mini-datagrid" style="width: 100%; height: 90%;"
             allowresize="true" url="@Url.Action("GetExecOrder")" idfield="OrderItemId" pagesize="15" multiselect="true">
            <div property="columns">
                <div type="checkcolumn" width="10">
                </div>
                <div field="ordname" width="40" headeralign="center" align="center" allowsort="true">
                    护嘱名称
                </div>
                <div field="begindate" width="40" headeralign="center" align="center" allowsort="true">
                    开始时间
                </div>
                <div field="OrdTypeID" width="40" headeralign="center" align="center" allowsort="true">
                    医嘱类型
                </div>
                <div field="频次" width="40" headeralign="center" align="center" allowsort="true">
                    频次
                </div>
                <div field="itemid" width="40" headeralign="center" align="center" allowsort="true">
                    项目编码
                </div>
                <div field="itemname" width="40" headeralign="center" align="center" allowsort="true">
                    项目名称
                </div>
                <div field="unitname" width="100" headeralign="center" align="center" allowsort="true">
                    单位
                </div>
                <div field="itemspec" width="100" headeralign="center" align="center" allowsort="true">
                    规格
                </div>
                <div field="execdate" width="100" headeralign="center" align="center" allowsort="true">
                    生成时间
                </div>
                <div field="execQuantity" width="100" headeralign="center" align="center" allowsort="true">
                    执行数量
                </div>
            </div>
        </div>
    </div>

</div>